/.metadata/
/GroundBooking.AdminAPI/.vs/GroundBooking.AdminAPI/FileContentIndex/fb564370-0137-40e3-98f4-96440ea1b1d6.vsidx
/GroundBooking.AdminAPI/.vs/GroundBooking.AdminAPI/v17/.suo
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/GroundBooking.AdminAPI.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/GroundBooking.AdminAPI.exe
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/GroundBooking.AdminAPI.pdb
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/ref/GroundBooking.AdminAPI.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/refint/GroundBooking.AdminAPI.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.AssemblyInfo.cs
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/apphost.exe
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.AssemblyInfoInputs.cache
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.pdb
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.sourcelink.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Release/net8.0/GroundBooking.AdminAPI.AssemblyInfo.cs
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Release/net8.0/GroundBooking.AdminAPI.AssemblyInfoInputs.cache
