/.metadata/
/GroundBooking.AdminAPI/.vs/GroundBooking.AdminAPI/FileContentIndex/fb564370-0137-40e3-98f4-96440ea1b1d6.vsidx
/GroundBooking.AdminAPI/.vs/GroundBooking.AdminAPI/v17/.suo
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/GroundBooking.AdminAPI.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/GroundBooking.AdminAPI.exe
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/GroundBooking.AdminAPI.pdb
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/ref/GroundBooking.AdminAPI.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/refint/GroundBooking.AdminAPI.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.AssemblyInfo.cs
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/apphost.exe
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.AssemblyInfoInputs.cache
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.pdb
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.sourcelink.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Release/net8.0/GroundBooking.AdminAPI.AssemblyInfo.cs
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Release/net8.0/GroundBooking.AdminAPI.AssemblyInfoInputs.cache
/GroundBooking.AdminAPI/.vs/GroundBooking.AdminAPI/v17/DocumentLayout.json
/GroundBooking.AdminAPI/.vs/GroundBooking.AdminAPI/v17/DocumentLayout.backup.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/appsettings.Development.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/appsettings.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/AutoMapper.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/GroundBooking.AdminAPI.deps.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/GroundBooking.AdminAPI.runtimeconfig.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/GroundBooking.AdminAPI.staticwebassets.endpoints.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Humanizer.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Mono.TextTemplating.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/MySqlConnector.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Pomelo.EntityFrameworkCore.MySql.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/System.CodeDom.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/System.Composition.Hosting.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/System.Composition.Convention.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/System.Composition.TypedParts.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/bin/Debug/net8.0/System.Composition.Runtime.dll
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.GroundBooking.AdminAPI.props
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.GroundBooking.AdminAPI.props
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.GroundBooking.AdminAPI.props
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.csproj.AssemblyReference.cache
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.assets.cache
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBo.4BE02664.Up2Date
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.csproj.CoreCompileInputs.cache
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.GeneratedMSBuildEditorConfig.editorconfig
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.genruntimeconfig.cache
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.csproj.FileListAbsolute.txt
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.MvcApplicationPartsAssemblyInfo.cs
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/GroundBooking.AdminAPI.MvcApplicationPartsAssemblyInfo.cache
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/staticwebassets.build.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/project.nuget.cache
*.v2
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Release/net8.0/GroundBooking.AdminAPI.assets.cache
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Release/net8.0/GroundBooking.AdminAPI.GeneratedMSBuildEditorConfig.editorconfig
*.vsidx
*.wsuo
/.vs/MyProject/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/MyProject/v17/DocumentLayout.backup.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/EndpointInfo/GroundBooking.AdminAPI.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/Debug/net8.0/ApiEndpoints.json
/GroundBooking.AdminAPI/GroundBooking.AdminAPI/obj/project.assets.json
