.form-container {
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input,
.form-container select {
  padding: 12px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-container button {
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #0056b3;
}
.editable-input {
  position: relative;
  margin-bottom: 12px;
}

.edit-icon {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  color: #555;
}

.profile-pic-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 16px;
}

.profile-pic-section img {
  border-radius: 8px;
  margin-bottom: 8px;
}
